name: Build

on:
  push:
    branches:
      - master
  pull_request:
jobs:
  build_windows:
    name: Build for Windows
    runs-on: windows-2022
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Determine version
        run: |
          $VNAME=$(cat VERSION | sed "s/+dev$/+dev-$(git rev-parse --short HEAD)/")
          echo "versionName=$VNAME" >> $env:GITHUB_ENV
      - name: Cache deps
        id: cache-deps
        uses: actions/cache@v4
        with:
          key: lazarus-4.2-nsis-3.05
          path: |
            c:\lazarus
            c:\Program Files (x86)\NSIS
      - if: ${{ steps.cache-deps.outputs.cache-hit != 'true' }}
        name: Install Dependencies
        run: |
          choco install wget --no-progress
          wget https://sourceforge.net/projects/lazarus/files/Lazarus%20Windows%2032%20bits/Lazarus%204.2/lazarus-4.2-fpc-3.2.2-win32.exe/download -O lazarus-installer.exe --timeout 60 --progress=dot:giga
          Start-Process -FilePath "./lazarus-installer.exe" -ArgumentList "/verysilent" -Wait
          wget "https://sourceforge.net/projects/nsis/files/NSIS%203/3.05/nsis-3.05-setup.exe/download" -O nsis-3.05-setup.exe --timeout 60
          ./nsis-3.05-setup.exe /S
      - name: Build
        run: |
          c:\lazarus\lazbuild src\ultrastardx-win.lpi  --lazarusdir=c:\lazarus
      - name: Add prebuilt DLLs
        run: |
          python dldlls.py
          7z x -y usdx-dlls-i686.zip -ogame "*.dll"
        env:
          ARTIFACT_ACCESS_TOKEN: ${{ secrets.MxeActionsReadAccessToken }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Create installer
        run: |
          del game\*.debug
          xcopy game\*.dll installer\dependencies\dll /y
          & 'C:\Program Files (x86)\NSIS\makensis.exe' "installer/UltraStar Deluxe.nsi"
          mv installer\dist\UltraStar.Deluxe_*_installer.exe UltraStarDeluxe-windows-installer-${{ env.versionName }}.exe
      - name: Upload Installer Artifact
        uses: actions/upload-artifact@v4
        with:
          name: UltraStarDeluxe-windows-installer-${{ env.versionName }}
          path: UltraStarDeluxe-windows-installer-${{ env.versionName }}.exe
          if-no-files-found: error
      - name: Upload Portable Artifact
        uses: actions/upload-artifact@v4
        with:
          name: UltraStarDeluxe-windows-portable-${{ env.versionName }}
          path: game
          if-no-files-found: error
